.first-section, .second-section, .third-section, .fourth-section {
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('../images/banner1.jpg');

    &__background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.322);
        height: 100vh;

        &__container {
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.658);
            max-width: 1000px;
            width: 80vw;
            padding: 10px;

            &__h2 {
                font-size: 20px;
                font-weight: 200;
                text-align: center;
                text-transform: uppercase;
                color: white;
            }

            &__h3 {
                font-weight: 100;
                color: rgba(255, 255, 255, 0.507);
                margin: 5px 0;
            }

            &__p {
                font-size: 18px;
                text-align: center;
                line-height: 25px;
                color: rgba(255, 255, 255, 0.596);
                margin-top: 10px;
            }

            &__button {
                font-weight: 600;
                font-size: 16px;
                color: white;
                padding: 15px 20px;
                margin-top: 10px;
                width: 90%;
                max-width: 150px;
                text-transform: uppercase;
                border: 1px solid rgba(255, 255, 255, 0.24);
                border-radius: 4px;
                background-color: transparent;
                transition: 0.4s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.048);
                }
            }
        }
    }
}

.second-section {
    background-image: url('../images/banner2.jpg');
}
.thrid-section {
    background-image: url('../images/banner3.jpg');
}
.fourth-section {
    background-image: url('../images/banner4.jpg');
}

@media(min-width:700px) {
    .first-section, .second-section, .thrid-section, .fourth-section  {
        padding: 50px 10px;

        &__p {
            margin: 10px 30px;
        }
    }
}