.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.15);
}

.header__menu__barra {
  position: relative;
  width: 15px;
  height: 2px;
  margin-top: 3px;
  background-color: white;
}

.header__menu__barra:first-child {
  margin-top: 0;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.main__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.616);
  height: 100vh;
}

.main__background__title {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 0.658);
}

.first-section {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/banner1.jpg");
}

.first-section__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.322);
  height: 100vh;
}

.first-section__background__container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  max-width: 1000px;
  width: 80vw;
  padding: 20px 10px;
}

.first-section__background__container__h2 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.first-section__background__container__h3 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.507);
  margin: 5px 0;
}

.first-section__background__container__p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.596);
  margin-top: 10px;
}

.first-section__background__container__button {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 150px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.first-section__background__container__button:hover {
  background-color: rgba(255, 255, 255, 0.048);
}

@media (min-width: 700px) {
  .first-section__background__container {
    padding: 50px 10px;
  }
  .first-section__background__container__p {
    margin: 10px 30px;
  }
}

.second-section {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/banner2.jpg");
}

.second-section__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.322);
  height: 100vh;
}

.second-section__background__container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  max-width: 1000px;
  width: 80vw;
  padding: 20px 10px;
}

.second-section__background__container__h2 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.second-section__background__container__h3 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.507);
  margin: 5px 0;
}

.second-section__background__container__p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.596);
  margin-top: 10px;
}

.second-section__background__container__button {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 150px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.second-section__background__container__button:hover {
  background-color: rgba(255, 255, 255, 0.048);
}

@media (min-width: 700px) {
  .second-section__background__container {
    padding: 50px 10px;
  }
  .second-section__background__container__p {
    margin: 10px 30px;
  }
}

.third-section {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/banner3.jpg");
}

.third-section__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.322);
  height: 100vh;
}

.third-section__background__container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  max-width: 1000px;
  width: 80vw;
  padding: 20px 10px;
}

.third-section__background__container__h2 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.third-section__background__container__h3 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.507);
  margin: 5px 0;
}

.third-section__background__container__p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.596);
  margin-top: 10px;
}

.third-section__background__container__button {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 150px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.third-section__background__container__button:hover {
  background-color: rgba(255, 255, 255, 0.048);
}

@media (min-width: 700px) {
  .third-section__background__container {
    padding: 50px 10px;
  }
  .third-section__background__container__p {
    margin: 10px 30px;
  }
}

.fourth-section {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/banner4.jpg");
}

.fourth-section__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.322);
  height: 100vh;
}

.fourth-section__background__container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  max-width: 1000px;
  width: 80vw;
  padding: 20px 10px;
}

.fourth-section__background__container__h2 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.fourth-section__background__container__h3 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.507);
  margin: 5px 0;
}

.fourth-section__background__container__p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.596);
  margin-top: 10px;
}

.fourth-section__background__container__button {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 150px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.fourth-section__background__container__button:hover {
  background-color: rgba(255, 255, 255, 0.048);
}

@media (min-width: 700px) {
  .fourth-section__background__container {
    padding: 50px 10px;
  }
  .fourth-section__background__container__p {
    margin: 10px 30px;
  }
}

.footer {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #f64747;
  padding: 40px 10px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__form__h2 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 500px;
}

.footer__form__container__name, .footer__form__container__email {
  margin-bottom: 10px;
  color: white;
  width: 100%;
}

.footer__form__container__name input, .footer__form__container__email input {
  display: block;
  background-color: rgba(255, 255, 255, 0.137);
  border: 1px solid rgba(255, 255, 255, 0.452);
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  padding-left: 10px;
}

.footer__form__container__name input::-webkit-input-placeholder, .footer__form__container__email input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.footer__form__container__name input:-ms-input-placeholder, .footer__form__container__email input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.footer__form__container__name input::-ms-input-placeholder, .footer__form__container__email input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.footer__form__container__name input::placeholder, .footer__form__container__email input::placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.footer__form__container__txtarea {
  color: white;
  width: 100%;
}

.footer__form__container__txtarea #message {
  display: block;
  resize: none;
  background-color: rgba(255, 255, 255, 0.137);
  border: 1px solid rgba(255, 255, 255, 0.452);
  color: white;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}

.footer__form__container__txtarea #message::-webkit-input-placeholder {
  font-size: 15px;
  color: white;
}

.footer__form__container__txtarea #message:-ms-input-placeholder {
  font-size: 15px;
  color: white;
}

.footer__form__container__txtarea #message::-ms-input-placeholder {
  font-size: 15px;
  color: white;
}

.footer__form__container__txtarea #message::placeholder {
  font-size: 15px;
  color: white;
}

.footer__form__container__button {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.295);
  padding: 5px 20px;
  width: 100%;
  margin-top: 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.footer__form__container__button:hover {
  background-color: rgba(255, 255, 255, 0.048);
}
/*# sourceMappingURL=main.css.map */